$yellow-main: #ffde2d;
$background-main: #1d1d1d;
$gray-light: #373737;

* {
  box-sizing: border-box;
}

html {
  background: $background-main;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-bar-wrap {
  background: $yellow-main;
  transition: ease-in-out .2s;
  &.transparent {
    background: transparent;
    .nav-bar {
      .nav-item {
        color: #fff;
      }
    }
  }
}

.nav-bar {
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-item {
    text-decoration: none;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-left: 5rem;
    color: $background-main;
    padding: 20px;

    &:last-child {
      padding-right: 0;
    }

    &.active {
      font-weight: 900;
    }
  }
}

.section {
  margin-bottom: 70px;
}

.section-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 15px 0;
}

.section-title-link {
  text-decoration: none;
  color: inherit;
  transition: ease-in-out .2s;
}

.grid-content {
  display: grid;
  grid-gap: 20px;
  &.grid-content__three {
    grid-template-columns: repeat(3, 1fr);
  }
  &.grid-content__two {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-content__two {
  .film-thumb {
    padding: 25px;
    height: 400px;
    .film-info-block {
      &.film-info-block__bottom {
        bottom: -60px;
      }
    }
  }
}

.film-thumb {
  position: relative;
  transition: ease-in-out .3s;
  overflow: hidden;
  height: 100%;
  text-decoration: none;
  &.archive {
    .film-image {
      filter: grayscale(1);
    }
    &:hover {
      .film-image {
        filter: grayscale(0);
      }
    }
  }

  .film-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
  }

  .film-info {
    position: relative;
    z-index: 2;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    font-size: 13px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .film-info-archive {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $yellow-main;
    font-weight: 100;
    font-size: 70px;

  }

  .film-info-block {
    position: relative;
    transition: ease-in-out .2s;
    &.film-info-block__top {
      top: -50px;
      opacity: 0;
      margin-bottom: 30px;
      //height: 130px;
      overflow: hidden;
    }
    &.film-info-block__bottom {
      //height: calc(100% - 130px);
      top: 64px;
    }
  }

  .about {
    opacity: 0;
    transition: .2s;
  }

  .genre {
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 3px 7px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .credits {
    .credit {
      margin-bottom: 10px;
    }

    .credit-title {
      font-weight: 900;
      margin: 0;
      display: inline-block;
    }
  }

  .numbers {
    display: flex;
    margin-bottom: 12px;
    opacity: 0;
    transition: ease-in .2s;
    .number {
      position: relative;
      padding-left: 7px;
      margin-right: 15px;
      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
        background: $yellow-main;
      }
    }
  }

  .name {
    font-weight: 900;
    font-size: 22px;
    margin: 0 0 10px 0;
    transition: .3s;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 3;
    .numbers {
      opacity: 1;
      transition-delay: .1s;
    }
    .name {
      color: $yellow-main;
    }
    .about {
      opacity: 1;
      transition-delay: .1s;
    }
  }
}

.film-detail-page {
  .film-info {
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-gap: 40px;
  }
  .film-info-section  {
    padding: 15px;
    &.film-info-section__contacts {
      background: $gray-light;
    }
  }
  .info-block {
    color: #fff;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    .info-title {
      color: $yellow-main;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 15px;
    }
    .info-text {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.3;
    }
  }
}

.player-section {

}